.css_idtarjeta_label { }
.css_idtarjeta_line {text-align:left;}
.css_idtarjeta_obj {text-align:left;}
.css_idcliente_label { }
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_nrotarjeta_label { }
.css_nrotarjeta_line { }
.css_nrotarjeta_obj { }
.css_vencimientotarjeta_label { }
.css_vencimientotarjeta_line { }
.css_vencimientotarjeta_obj { }
.css_codigoseguridad_label { }
.css_codigoseguridad_line { }
.css_codigoseguridad_obj { }
