.css_idhabitacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idhabitacion_grid_line {vertical-align: top;text-align: right;}
.css_nrohab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nrohab_grid_line {vertical-align: top;text-align: left;}
.css_idtipohab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtipohab_grid_line {vertical-align: top;text-align: right;}
.css_estadohab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estadohab_grid_line {vertical-align: top;text-align: right;}
