.css_idempleado_label { }
.css_idempleado_line {text-align:left;}
.css_idempleado_obj {text-align:left;}
.css_idcargo_label { }
.css_idcargo_line {text-align:left;}
.css_idcargo_obj {text-align:left;}
.css_nombreemp_label { }
.css_nombreemp_line { }
.css_nombreemp_obj { }
.css_apellidoemp_label { }
.css_apellidoemp_line { }
.css_apellidoemp_obj { }
.css_dniemp_label { }
.css_dniemp_line { }
.css_dniemp_obj { }
.css_fechacontratoemp_label { }
.css_fechacontratoemp_line { }
.css_fechacontratoemp_obj { }
