.css_idreservacion_label { }
.css_idreservacion_line {text-align:left;}
.css_idreservacion_obj {text-align:left;}
.css_idcliente_label { }
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_idempleado_label { }
.css_idempleado_line {text-align:left;}
.css_idempleado_obj {text-align:left;}
.css_fechares_label { }
.css_fechares_line { }
.css_fechares_obj { }
.css_fechallegada_label { }
.css_fechallegada_line { }
.css_fechallegada_obj { }
.css_nrodiasres_label { }
.css_nrodiasres_line {text-align:left;}
.css_nrodiasres_obj {text-align:left;}
.css_nropersonasres_label { }
.css_nropersonasres_line {text-align:left;}
.css_nropersonasres_obj {text-align:left;}
