.css_idempleado_det_label {text-align: right;vertical-align: middle;}
.css_idempleado_det_line {height:0px;text-align: right;}
.css_idcargo_det_label {text-align: right;vertical-align: middle;}
.css_idcargo_det_line {height:0px;text-align: right;}
.css_nombreemp_det_label {text-align: right;vertical-align: middle;}
.css_nombreemp_det_line {height:0px;text-align: right;}
.css_apellidoemp_det_label {text-align: right;vertical-align: middle;}
.css_apellidoemp_det_line {height:0px;text-align: right;}
.css_dniemp_det_label {text-align: right;vertical-align: middle;}
.css_dniemp_det_line {height:0px;text-align: right;}
.css_fechacontratoemp_det_label {text-align: right;vertical-align: middle;}
.css_fechacontratoemp_det_line {height:0px;text-align: right;}
