.css_idempleado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idempleado_grid_line {vertical-align: top;text-align: right;}
.css_idcargo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcargo_grid_line {vertical-align: top;text-align: right;}
.css_nombreemp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombreemp_grid_line {vertical-align: top;text-align: left;}
.css_apellidoemp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_apellidoemp_grid_line {vertical-align: top;text-align: left;}
.css_dniemp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dniemp_grid_line {vertical-align: top;text-align: left;}
.css_fechacontratoemp_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechacontratoemp_grid_line {vertical-align: top;text-align: center;}
