.css_idcargo_det_label {text-align: right;vertical-align: middle;}
.css_idcargo_det_line {height:0px;text-align: right;}
.css_nombrecargo_det_label {text-align: right;vertical-align: middle;}
.css_nombrecargo_det_line {height:0px;text-align: right;}
.css_sueldocargo_det_label {text-align: right;vertical-align: middle;}
.css_sueldocargo_det_line {height:0px;text-align: right;}
