.css_idcargo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcargo_grid_line {vertical-align: top;text-align: right;}
.css_nombrecargo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombrecargo_grid_line {vertical-align: top;text-align: left;}
.css_sueldocargo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sueldocargo_grid_line {vertical-align: top;text-align: right;}
