.css_idreservacion_det_label {text-align: left;vertical-align: middle;}
.css_idreservacion_det_line {height:0px;text-align: left;}
.css_idcliente_det_label {text-align: left;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: left;}
.css_idempleado_det_label {text-align: left;vertical-align: middle;}
.css_idempleado_det_line {height:0px;text-align: left;}
.css_fechares_det_label {text-align: left;vertical-align: middle;}
.css_fechares_det_line {height:0px;text-align: left;}
.css_fechallegada_det_label {text-align: left;vertical-align: middle;}
.css_fechallegada_det_line {height:0px;text-align: left;}
.css_nrodiasres_det_label {text-align: left;vertical-align: middle;}
.css_nrodiasres_det_line {height:0px;text-align: left;}
.css_nropersonasres_det_label {text-align: left;vertical-align: middle;}
.css_nropersonasres_det_line {height:0px;text-align: left;}
