.css_idreservacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idreservacion_grid_line {vertical-align: top;text-align: right;}
.css_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_idempleado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idempleado_grid_line {vertical-align: top;text-align: right;}
.css_fechares_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechares_grid_line {vertical-align: top;text-align: center;}
.css_fechallegada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechallegada_grid_line {vertical-align: top;text-align: center;}
.css_nrodiasres_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nrodiasres_grid_line {vertical-align: top;text-align: right;}
.css_nropersonasres_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nropersonasres_grid_line {vertical-align: top;text-align: right;}
