.css_idcliente_det_label {text-align: right;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: right;}
.css_nombrecli_det_label {text-align: right;vertical-align: middle;}
.css_nombrecli_det_line {height:0px;text-align: right;}
.css_apellidocli_det_label {text-align: right;vertical-align: middle;}
.css_apellidocli_det_line {height:0px;text-align: right;}
.css_telefonocli_det_label {text-align: right;vertical-align: middle;}
.css_telefonocli_det_line {height:0px;text-align: right;}
.css_correocli_det_label {text-align: right;vertical-align: middle;}
.css_correocli_det_line {height:0px;text-align: right;}
.css_dnicli_det_label {text-align: right;vertical-align: middle;}
.css_dnicli_det_line {height:0px;text-align: right;}
