.css_idtarjeta_det_label {text-align: right;vertical-align: middle;}
.css_idtarjeta_det_line {height:0px;text-align: right;}
.css_idcliente_det_label {text-align: right;vertical-align: middle;}
.css_idcliente_det_line {height:0px;text-align: right;}
.css_nrotarjeta_det_label {text-align: right;vertical-align: middle;}
.css_nrotarjeta_det_line {height:0px;text-align: right;}
.css_vencimientotarjeta_det_label {text-align: right;vertical-align: middle;}
.css_vencimientotarjeta_det_line {height:0px;text-align: right;}
.css_codigoseguridad_det_label {text-align: right;vertical-align: middle;}
.css_codigoseguridad_det_line {height:0px;text-align: right;}
