.css_idtarjeta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtarjeta_grid_line {vertical-align: top;text-align: right;}
.css_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_nrotarjeta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nrotarjeta_grid_line {vertical-align: top;text-align: left;}
.css_vencimientotarjeta_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vencimientotarjeta_grid_line {vertical-align: top;text-align: center;}
.css_codigoseguridad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoseguridad_grid_line {vertical-align: top;text-align: left;}
