.css_d_iddetalle_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_iddetalle_grid_line {vertical-align: top;text-align: right;}
.css_c_apellidocli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_apellidocli_grid_line {vertical-align: top;text-align: left;}
.css_h_nrohab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_h_nrohab_grid_line {vertical-align: top;text-align: left;}
.css_t_nombretipohab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t_nombretipohab_grid_line {vertical-align: top;text-align: left;}
.css_t_preciotipohab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_t_preciotipohab_grid_line {vertical-align: top;text-align: right;}
.css_r_fechares_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_r_fechares_grid_line {vertical-align: top;text-align: center;}
.css_d_precioreservacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_precioreservacion_grid_line {vertical-align: top;text-align: right;}
.css_r_idreservacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_r_idreservacion_grid_line {vertical-align: top;text-align: right;}
