.css_d_iddetalle_det_label {text-align: right;vertical-align: middle;}
.css_d_iddetalle_det_line {height:0px;text-align: right;}
.css_r_idreservacion_det_label {text-align: right;vertical-align: middle;}
.css_r_idreservacion_det_line {height:0px;text-align: right;}
.css_c_apellidocli_det_label {text-align: right;vertical-align: middle;}
.css_c_apellidocli_det_line {height:0px;text-align: right;}
.css_h_nrohab_det_label {text-align: right;vertical-align: middle;}
.css_h_nrohab_det_line {height:0px;text-align: right;}
.css_t_nombretipohab_det_label {text-align: right;vertical-align: middle;}
.css_t_nombretipohab_det_line {height:0px;text-align: right;}
.css_t_preciotipohab_det_label {text-align: right;vertical-align: middle;}
.css_t_preciotipohab_det_line {height:0px;text-align: right;}
.css_r_fechares_det_label {text-align: right;vertical-align: middle;}
.css_r_fechares_det_line {height:0px;text-align: right;}
.css_r_fechallegada_det_label {text-align: right;vertical-align: middle;}
.css_r_fechallegada_det_line {height:0px;text-align: right;}
.css_d_precioreservacion_det_label {text-align: right;vertical-align: middle;}
.css_d_precioreservacion_det_line {height:0px;text-align: right;}
