.css_idtipohab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtipohab_grid_line {vertical-align: top;text-align: right;}
.css_nombretipohab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombretipohab_grid_line {vertical-align: top;text-align: left;}
.css_descripciontipohab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripciontipohab_grid_line {vertical-align: top;text-align: left;}
.css_nrocamas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nrocamas_grid_line {vertical-align: top;text-align: right;}
.css_preciotipohab_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_preciotipohab_grid_line {vertical-align: top;text-align: right;}
