.css_idtipohab_det_label {text-align: right;vertical-align: middle;}
.css_idtipohab_det_line {height:0px;text-align: right;}
.css_nombretipohab_det_label {text-align: right;vertical-align: middle;}
.css_nombretipohab_det_line {height:0px;text-align: right;}
.css_descripciontipohab_det_label {text-align: right;vertical-align: middle;}
.css_descripciontipohab_det_line {height:0px;text-align: right;}
.css_nrocamas_det_label {text-align: right;vertical-align: middle;}
.css_nrocamas_det_line {height:0px;text-align: right;}
.css_preciotipohab_det_label {text-align: right;vertical-align: middle;}
.css_preciotipohab_det_line {height:0px;text-align: right;}
