.css_idhabitacion__label { }
.css_idhabitacion__line {text-align:left;}
.css_idhabitacion__obj {text-align:left;}
.css_nrohab__label { }
.css_nrohab__line { }
.css_nrohab__obj { }
.css_idtipohab__label { }
.css_idtipohab__line {text-align:left;}
.css_idtipohab__obj {text-align:left;}
.css_estadohab__label { }
.css_estadohab__line {text-align:left;}
.css_estadohab__obj {text-align:left;}
